<tr>
  <td><%= req.start_date %></td>
  <td><%= req.end_date %></td>
  <td><%= req.requester.user_name %></td>
  <td>
    <% if req.pending? && req.cat.owner == current_user %>
        <%= button_to "Approve", approve_cat_rental_request_url(req) %>
        <%= button_to "Deny", deny_cat_rental_request_url(req) %>
    <% else %>
      <%= req.status %>
    <% end %>
  </td>
</tr>
