<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <h1>Welcome <%= current_user.user_name %></h1>
  <%= link_to("Log out", "/session", method: :delete) %>

<% else %>
  <%= link_to("Log in", new_session_url) %>
  <%= link_to("Sign Up", new_user_url) %>
<% end %>
<%= yield %>

</body>
</html>
